<!Doctype html>

<head>
  <title>This is an Ecommerce site</title>
</head>
<body>

  <% include ../partials/navbar %>

  <div class="container"
  <h1>this is a boilerplate page</h1>
  <%- body -%>
  </div>
  <% include ../partials/footer %>
</body>
</html>