

<% include ../partials/header.ejs %>
<div class="container"> 
<h1>shop smart, save big!</h1>

<p>We are in the movies</p>


<h3>its time to start the Engine</h3>
<p>our prices are some of the best on the web</p>

<h3>look for smart stuffs to buy</h3>
<p>the more smart things you buy the better ypou save</p>


<h3>We have our presence all over the web </h3>
<p>signup here to start your shopping :) </p>
</div>
<% include ../partials/footer %>